<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Correo</title>

</head>


<body>
  <!--Carousel Wrapper-->

<div>
	<h1>ENHORABUENA {{name}}</h1>

	<h1>TU PRESTAMO FUE OTORGADO</h1>
	
	<h2>Encuentras los datos de tu prestamo aqui abajo:</h2>

	<h3>Numero de Cuenta: {{accountNumber}}</h3>

    <h3>Moneda: {{currency}}</h3>
    
    <h3>Monto prestado: {{amount}}</h3>

	<p>Atentamente,</p>
	<p>El staff de Tunke</p>
	<p>tunkestaff@gmail.com</p>
</div>
</body>
</html>